// 리스트 유틸리티 클래스

// stylelint-disable selector-max-type

.list-style-none {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none !important;

  li {
    &::before {
      display: none !important;
    }
  }
}
